// General App & Header styling

$main_color: #009688;
$white_background: white; //rgba(250,250,250,0.8);
$accent_color: rgba(50, 49, 49, 1);
$box_shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
$text-title-grey: rgba(40, 50, 40, 0.8);
$border-color: #f3f3f3;

@font-face {
  font-family: LabelFont;
  src: url("./assets/ImpactLabelReversed.ttf");
}

@font-face {
  font-family: Oswald;
  src: url("https://fonts.googleapis.com/css?family=Oswald");
}

.App {
  text-align: center;
  max-width: 100vw;
}

#root {
  min-height: 87vh;
}

.active {
  background-color: #fff;
}

.parallax {
  /* The image used */
  background-image: url("./assets/nyhavn.jpg");
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

html,
body,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
caption {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

.menu-bar {
  display: grid;
  justify-items: center;
  align-items: center;
  grid-template-columns: 1fr 1fr 1fr;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

html {
  //background: url(code.jpeg) no-repeat center center fixed;
  background: rgba(255, 255, 255, 1);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.header-component {
  background-color: rgba(0, 0, 0, 0);
  z-index: 99;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  max-height: 15vh;
  display: grid;
  grid-template-columns: 0.3fr 1fr 1fr;
  align-items: center;
  color: black;
}

.logo-img-container {
  position: absolute;
  top: 2%;
  left: 2%;
  opacity: 0.9;
}

.logo-img {
  padding-top: 8%;
  max-width: 40%;
  max-height: 16vh;
}

.person-name {
  padding-left: 2%;
  text-decoration: none;
  align-self: center;
  text-align: left;
  color: white;
  font-size: 1.5em;
}

.person-name:hover {
  text-decoration: none;
  color: white;
}

a {
  text-decoration: none;
  color: #000;
}
a:visited {
  text-decoration: none;
  color: #000;
}
a:hover {
  text-decoration: none;
  color: #000;
}
a:focus {
  text-decoration: none;
  color: #000;
}
a:hover,
.navBtn:active {
  text-decoration: none;
  color: #000;
}

// Footer Styling

.footer-component {
  padding: 6px 0 0 6px;
  width: 100%;
  height: 10vh;
  z-index: 99;
  background-color: $accent_color;
}

.person-info {
  padding-left: 16px;
  padding-top: 0.2%;
  margin-bottom: 0;
  display: grid;
  grid-template-columns: 1fr;
  text-align: left;
  color: white;
  font-size: 1em;
}

.footer-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-bottom: 0 !important;
  padding-bottom: 0 !important;
}

.social-section {
  padding-top: 6px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
  align-items: center;
}

.social-logo {
  max-width: 25%;
}

// Card Styling

.card-title {
  padding: 16px 16px 0 16px;
  margin: 0;
  text-align: left;
  font-size: 1.2em;
}

.card-contents {
  display: grid;
  grid-template-columns: 1fr;
}

.card-item {
  line-height: 1.5;
  text-align: left;
  margin: 16px;
  padding: 0;
  font-size: 1em;
}

.card-component {
  position: relative;
  align-self: start;
  margin: 2vh 1vw 1vh 1vw;
  color: white;
  box-shadow: $box_shadow;
  background-color: $main_color;
  display: grid;
  grid-template-columns: 1fr;
}

.empty-card-component {
  min-height: 10vh;
  position: relative;
  align-self: start;
  margin: 2vh 1vw 1vh 1vw;
  color: white;
  display: grid;
  grid-template-columns: 1fr;
}

.info-item {
  font-size: 0.8em;
  padding: 0.3% 0.2% 0.2% 0.5%;
  margin: 0;
}

.list-card-item-icon {
  align-self: center;
  justify-self: center;
  max-width: 45%;
}

.list-card-item-text {
  text-align: left;
  padding-top: 5px;
}

.list-card-item {
  margin: 12px 3px;
  display: grid;
  grid-template-columns: 0.2fr 1fr;
}

// Landing Page Styling

// TEXT SLIDER STYLING

#right-text {
  text-align: right;
}

.CV-section {
  height: 100vh;
  display: flex;
  flex-direction: column;
  .skills-header {
    padding-top: 8px;
    color: $text-title-grey;
    font-size: 2em;
    font-family: Oswald;
    font-weight: bold;
  }
}

.landing-page-role-text {
  font-family: LabelFont;
  text-align: left;
  color: white;
  font-size: 3vw;
  margin: 0 0 0 5% !important;
  padding: 0;
}

.scroll-down-section {
  width: 100%;
  position: absolute;
  height: 100vh;
  align-items: center;
  justify-items: center;
}

.scroll-down-section.animated {
  animation-duration: 2.5s;
  animation-iteration-count: infinite;
}

.scroll-logo {
  transform: translate(-50%, -50%);
  position: absolute;
  top: 75%;
  opacity: 0.8;
  max-width: 3%;
}

// Scroll Logo Breathing

#breathing-logo {
  width: 270px;
  padding: 20px;
  margin: 50px auto;
  font-size: 24px;
  color: #fff;
  -webkit-font-smoothing: antialiased;
  text-align: center;
}

.text-and-scrolling-text {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

a {
  text-decoration: none;
  color: #111b47;
}

.animation-show {
  transition: all 0.75s ease;
  opacity: 1;
}

/**** slider ****/

#slider,
ul {
  margin-top: 0 !important;
  height: 200px;
}

#slider {
  margin: auto;
  overflow: hidden;
  position: relative;
  width: 90%;
}

#slider li {
  float: left;
  position: relative;
  width: 600px;
  display: inline-block;
  height: 200px;
}

#slider ul {
  list-style: none;
  position: absolute;
  left: 0px;
  top: 0px;
  width: 9000px;
  transition: left 0.5s linear;
  -moz-transition: left 0.5s linear;
  -o-transition: left 0.5s linear;
  -webkit-transition: left 0.5s linear;
  margin-left: -25px;
  color: #666;
}

/*** Content ***/

.slider-container {
  margin: 0 !important;
  padding: 0;
  // width: 550px;
  min-height: 180px;
}

.slider-container p {
  margin: 0;
  line-height: 150%;
  text-align: justify;
}

/*** target hooks ****/

@-webkit-keyframes slide-animation {
  0% {
    opacity: 0;
  }
  2% {
    opacity: 1;
  }
  20% {
    left: 0px;
    opacity: 1;
  }
  22.5% {
    opacity: 0.6;
  }
  25% {
    left: -600px;
    opacity: 1;
  }
  45% {
    left: -600px;
    opacity: 1;
  }
  47.5% {
    opacity: 0.6;
  }
  50% {
    left: -1200px;
    opacity: 1;
  }
  70% {
    left: -1200px;
    opacity: 1;
  }
  72.5% {
    opacity: 0.6;
  }
  75% {
    left: -1800px;
    opacity: 1;
  }
  95% {
    opacity: 1;
  }
  98% {
    left: -1800px;
    opacity: 0;
  }
  100% {
    left: 0px;
    opacity: 0;
  }
}

#slider ul {
  -webkit-animation: slide-animation 8s infinite;
}

.slider {
  margin-top: 0;
  padding-top: 0;
}

/* use to paused the content on mouse over */

#slider ul:hover {
  -moz-animation-play-state: paused;
  -webkit-animation-play-state: paused;
}

// History Component Styling

.history-component {
  background-color: $white_background;
  min-height: 100vh;
  max-height: 100vh;
  .card-item {
    padding: 6px;
    margin: 0px;
  }
}

.history-component-title {
  font-size: 2em;
  color: $text-title-grey;
  padding: 1% 2% 0 2%;
}

.job-and-education-grid {
  display: grid;
  grid-template-columns: 1fr 0.25fr 1fr;
}

.timeline {
  background: url("./assets/Timeline Arrow.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.education {
  margin: 0 42px;
  .history-card-component {
    margin-right: 6px;
  }
}

.job {
  margin: 0 42px;
  .history-card-component {
    margin-left: 6px;
  }
}

.history-card-component {
  margin: 12px 16px 10px 16px;
  position: relative;
  align-self: start;
  color: white;
  box-shadow: $box_shadow;
  background-color: $main_color;
  display: grid;
  grid-template-columns: 1fr;
}

.history-card-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.history-card-title {
  padding-top: 2px;
  align-self: center;
  justify-self: center;
  text-align: center;
  width: 100%;
  height: 100%;
  background-color: #00796b;
}

.history-card-content {
  padding: 2%;
  background-color: white;
  color: black;
}

.history-card-left {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0.2fr 1fr;
}

.history-card-icon {
  padding: 2%;
  width: 30%;
}

.history-card-right {
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  justify-items: center;
}

.job {
  margin-top: 8%;
}

.education {
  margin-top: 8%;
  align-items: right;
}

.come-in {
  transform: translateY(150px);
  animation: come-in 1s ease forwards;
}
.come-in:nth-child(odd) {
  animation-duration: 0.6s; /* So they look staggered */
}

@keyframes come-in {
  to {
    transform: translateY(0);
  }
}

.animation-hide {
  opacity: 0;
  pointer-events: none;
}

// BURGER MENU STYLING
/* Position and sizing of burger button */
.bm-burger-button {
  position: absolute;
  width: 36px;
  height: 30px;
  right: 36px;
  top: 36px;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: rgba(255, 255, 255, 0.8);
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 24px;
  width: 24px;
}

/* Color/shape of close button cross */
.bm-cross {
  background: #bdc3c7;
}

/* General sidebar styles */
.bm-menu {
  background: rgba(49, 55, 55, 0.7);
  padding: 2.5em 1.5em 0;
  font-size: 1.15em;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: #373a47;
}

/* Wrapper for item list */
.bm-item-list {
  color: #b8b7ad;
  padding: 0.8em;
}

/* Individual item */
.bm-item {
  display: inline-block;
}

/* Styling of overlay */
.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
}

.menu-item {
  padding: 10% 2% 10% 2%;
  color: white;
}

.menu-item {
  font-family: "Oswald", sans-serif;
  font-weight: 500;
  text-transform: uppercase;
  text-decoration: none;
  color: white;
  margin: 0 15px;
  font-size: 16px;
  letter-spacing: 1px;
  position: relative;
  display: inline-block;
}
// Menu Item Strikethrough on hover
.menu-item:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  background: white;
  top: 47%;
  animation: out 0.2s cubic-bezier(1, 0, 0.58, 0.97) 1 both;
}
.menu-item:hover:before {
  animation: in 0.2s cubic-bezier(1, 0, 0.58, 0.97) 1 both;
}
@keyframes in {
  0% {
    width: 0;
    left: 0;
    right: auto;
  }
  100% {
    left: 0;
    right: auto;
    width: 100%;
  }
}
@keyframes out {
  0% {
    width: 100%;
    left: auto;
    right: 0;
  }
  100% {
    width: 0;
    left: auto;
    right: 0;
  }
}
@keyframes show {
  0% {
    opacity: 0;
    transform: translateY(-10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@for $i from 1 through 5 {
  .menu-item:nth-child(#{$i}) {
    animation: show 0.2s #{$i * 0.1+1}s ease 1 both;
  }
}

.shader-overlay {
  background: rgba(35, 35, 35, 0.5);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100%;
}

.landing-page-logo {
  position: relative;
  text-align: center;
  color: white;
}

.landing-page-text {
  padding: 1%;
  opacity: 0.9;
  background-color: transparent;
  position: relative;
  width: 90%;
  text-align: center;
  color: white;
}

.landing-page-text-header {
  font-family: LabelFont;
  font-size: 2em;
}

.landing-page-text-subtitle {
  text-align: right !important;
  font-size: 3vw;
  font-family: LabelFont;
}

.mikkel-logo {
  max-width: 75%;
  opacity: 0.25;
}

.landing-page-title {
  font-size: 2.5em;
}

.landing-page-text {
  font-size: 2em;
}

.landing-page-contents {
  display: grid;
  align-items: center;
  justify-items: center;
  grid-template-columns: 1fr;
  width: 100vw;
  height: 100vh;
}

.cv-card-grid {
  margin: 0 42px;
  background-color: $white_background;
  height: 100%;
  display: grid;
  align-items: center;
  justify-items: center;
  grid-template-columns: 1fr 1fr;
  .card-item {
    margin: 16px;
    padding: 0;
  }
}

.card-inner-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.hero-img {
  padding: 0 16px;
  max-width: 80%;
}

.hero-img-text {
  color: rgba(0, 0, 0, 0.5);
}

// Contact Page Styling

.contact-text {
  color: white;
  align-self: center;
}

.contact-component {
  height: 90vh;
  display: flex;
  flex-direction: column;
  .contact-header {
    position: relative;
    padding-top: 66px;
    font-family: Oswald;
    font-size: 5em;
    color: white;
    text-align: center;
  }

  .contact-parallax {
    /* The image used */
    background-image: url("./assets/sergio-rodriguez-portugues-del-olmo-XM-elQCC9H8-unsplash.jpg");
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
  }

  .contact-grid {
    margin-top: 66px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    .mail-section {
      input,
      textarea {
        border: 1px solid $border-color;
        border-radius: 4px;
      }
    }
  }

  .contact-section {
    margin-top: 16px;
    margin-right: 42px;
    border-radius: 4px;
    justify-self: center;
    .icon-and-text {
      display: grid;
      grid-template-columns: 0.3fr 1fr;
      background: #535353;
      opacity: 0.8;
    }
  }

  .mail-section {
    margin-left: 42px;
    margin-top: 16px;
    align-self: center;
    justify-self: center;
    width: 80%;
    display: grid;
    grid-template-columns: 1fr;
  }

  .contact-icon {
    margin: 2%;
    padding: 5%;
    align-self: center;
    justify-self: center;
    max-width: 35%;
  }

  .contact-input {
    margin-top: 16px;
    padding: 12px;
    color: black;
    &:first-child {
      margin-top: 0;
    }
  }

  .message-input {
    margin-top: 2%;
    text-align: left;
    padding: 2%;
  }

  .send-button {
    background-color: $main_color;
    color: white;
    font-size: 1.2em;
    margin: 5% 2% 2% 2%;
    padding: 2%;
  }
}

.spacer-bar {
  margin: 5%;
  min-height: 2px;
  box-shadow: $box_shadow;
}

.contact-bottom-spacer {
  min-height: 8vh;
}

// Projects Styling

.projects-grid {
  padding: 0 66px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.projects-header {
  position: relative;
  padding-top: 66px;
  font-family: Oswald;
  font-size: 5em;
  color: white;
  text-align: center;
}

.projects-parallax {
  /* The image used */
  background-image: url("./assets/james-pond-185593-unsplash.jpg");
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.projects-content {
  position: relative;
  display: flex;
  flex-direction: column;
}

.double-card-grid {
  display: grid;
  grid-template-columns: 1fr;
}

.spacer {
  min-height: 13vh;
}

.card-overlay-button {
  position: absolute;
  max-width: 6%;
  color: white;
  font-size: 1.2em;
  display: grid;
  grid-template-columns: 1fr;
  text-align: center;
  border: none;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.5s linear;
  justify-items: center;
  align-items: right;
  bottom: 1%;
  right: 0.5%;
}

.card-component:hover {
  .card-overlay-button {
    visibility: visible;
    opacity: 1;
  }
}

.overlay-button-icon {
  max-width: 90%;
  opacity: 0.8;
}
