// General App & Header styling

$main_color: rgba(3, 169, 244, 0.8);
$accent_color: rgba(50,49,49,1);
$box_shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);


@font-face {
  font-family: LabelFont;
  src:url("./assets/ImpactLabelReversed.ttf");
}
.App {
  text-align: center;
}

.active { background-color: #fff}

.parallax {
  /* The image used */
  background-image: url("./assets/nyhavn.jpg");
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

html, body, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, caption {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

.menu-bar {
  display: grid;
  justify-items: center;
  align-items: center;
  grid-template-columns: 1fr 1fr 1fr;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

html {
  //background: url(code.jpeg) no-repeat center center fixed;
  background: rgba(255,255,255,1);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.header-component {
  background-color: rgba(0,0,0,0);
  z-index: 99;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  max-height: 15vh;
  display: grid;
  grid-template-columns: 0.3fr 1fr 1fr;
  align-items: center;
  color: black;
}

.logo-img-container {
  position: absolute;
  top: 2%;
  left: 2%;
  opacity: 0.9;
}

.logo-img {
  padding-top: 8%;
  max-width: 40%;
  max-height: 16vh;
}


.person-name {
  padding-left: 2%;
  text-decoration: none;
  align-self: center;
  text-align: left;
  color: white;
  font-size: 1.5em;
}

.person-name:hover {
  text-decoration: none;
  color: white;
}

a { text-decoration: none; color:#000; }
a:visited { text-decoration: none; color:#000; }
a:hover { text-decoration: none; color:#000; }
a:focus { text-decoration: none; color:#000; }
a:hover, .navBtn:active { text-decoration: none; color:#000; }

// Footer Styling

.footer-component {
  margin: 0%;
  width: 100%;
  max-height: 15vh;
  background-color: $accent_color;
}

.person-info {
  padding: 2%;
  display: grid;
  grid-template-columns: 1fr;
  text-align: left;
  color: white;
  font-size: 1em;
}

.footer-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.social-section {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
  align-items: center;

}

.social-logo {
  max-width: 25%;
}

// Card Styling

.card-title {
  padding: 2%;
  margin: 0px;
  text-align: left;
  font-size: 1.2em;
}

.card-contents {
  display: grid;
  grid-template-columns: 1fr;
}

.card-item {
  line-height: 1.5;
  margin: 0px;
  text-align: left;
  padding: 2%;
  font-size: 1em;
}

.card-component {
  align-self: start;
  margin: 4vh 1vw 2vh 1vw;
  color: white;
  box-shadow: $box_shadow;
  background-color: rgba(3, 169, 244, 0.8);
  display: grid;
  grid-template-columns: 1fr;
}

.info-item {
  padding: 0.2vh;
  margin: 0px;
}

.list-card-item-icon {
  align-self: center;
  justify-self: center;
  max-width: 45%;
}

.list-card-item-text {
  text-align: left;
}

.list-card-item {
  margin: 4%;
  display: grid;
  grid-template-columns: 0.2fr 1fr;
}

// Landing Page Styling

// TEXT SLIDER STYLING


#right-text {
  text-align: right;
}

.landing-page-role-text {
  font-family: LabelFont;
  color: white;
  font-size: 1.2em;
  margin: 0;
  padding: 0;
}

.text-and-scrolling-text {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

a
{
  text-decoration: none;
  color: #111b47;
}

a:hover
{
  border-bottom: 1px dashed #ED971F;
  color: #ED971F;
}

/**** slider ****/

#slider, ul
{
  margin-top: 0 !important;
  height: 200px;
}

#slider
{
  margin: auto;
  overflow: hidden;
  position: relative;
  width: 90%;
}

#slider li
{
  float: left;
  position: relative;
  width: 600px;
  display: inline-block;
  height: 200px;
}

#slider ul
{
  list-style: none;
  position: absolute;
  left: 0px;
  top: 0px;
  width: 9000px;
  transition: left .3s linear;
  -moz-transition: left .3s linear;
  -o-transition: left .3s linear;
  -webkit-transition: left .3s linear;
  margin-left: -25px;
  font-family: century gothic;
  color: #666;
}

/*** Content ***/

.slider-container
{
  margin: 0 auto !important;
  padding: 0;
  width: 550px;
  min-height: 180px;
}


.slider-container  p
{
  margin: 0;
  line-height: 150%;
  text-align: justify;
}

/*** target hooks ****/

@-webkit-keyframes slide-animation {
  0% {opacity:0;}
  2% {opacity:1;}
  20% {left:0px; opacity:1;}
  22.5% {opacity:0.6;}
  25% {left:-600px; opacity:1;}
  45% {left:-600px; opacity:1;}
  47.5% {opacity:0.6;}
  50% {left:-1200px; opacity:1;}
  70% {left:-1200px; opacity:1;}
  72.5% {opacity:0.6;}
  75% {left:-1800px; opacity:1;}
  95% {opacity:1;}
  98% {left:-1800px; opacity:0;}
  100% {left:0px; opacity:0;}
}

#slider ul
{
  -webkit-animation: slide-animation 8s infinite;
}

.slider {
  margin-top: 0;
  padding-top: 0;
}

/* use to paused the content on mouse over */

#slider ul:hover
{
  -moz-animation-play-state: paused;
  -webkit-animation-play-state: paused;
}


// BURGER MENU STYLING
/* Position and sizing of burger button */
.bm-burger-button {
  position: absolute;
  width: 36px;
  height: 30px;
  right: 36px;
  top: 36px;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: rgba(255,255,255,0.9);
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 24px;
  width: 24px;
}

/* Color/shape of close button cross */
.bm-cross {
  background: #bdc3c7;
}

/* General sidebar styles */
.bm-menu {
  background: #373a47;
  padding: 2.5em 1.5em 0;
  font-size: 1.15em;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: #373a47;
}

/* Wrapper for item list */
.bm-item-list {
  color: #b8b7ad;
  padding: 0.8em;
}

/* Individual item */
.bm-item {
  display: inline-block;
}

/* Styling of overlay */
.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
}

.menu-item {
  padding: 10% 2% 10% 2%;
  color: white;
}

.shader-overlay {
  background: rgba(35,35,35,0.5);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.landing-page-logo {
  position: relative;
  text-align: center;
  color: white;
}

.landing-page-text {
  padding: 1%;
  opacity: 0.9;
  font-family: LabelFont;
  background-color: transparent;
  position: relative;
  text-align: center;
  color: white;

}

.landing-page-text-header {
  font-size: 2em;
}

.landing-page-text-subtitle {
  text-align: right !important;
  font-size: 1.2em;
}

.mikkel-logo {
  max-width: 75%;
  opacity: 0.25;
}

.landing-page-title {
  font-size: 2.5em;
}

.landing-page-text {
  font-size: 2em;
}

.landing-page-contents {
  display: grid;
  align-items: center;
  justify-items: center;
  grid-template-columns: 1fr;
  width: 100vw;
  height: 100vh;
}

.card-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.card-inner-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.hero-img {
  padding: 4vh 1vw 4vh 1vw;
  max-width: 80%;
}

.hero-img-text {
  color: rgba(0,0,0,0.5);
}

// Contact Page Styling

.contact-component {
  height: 87vh;
  min-height: 87vh;
}

.contact-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.contact-section {
  padding: 5%;
  justify-self: center;
  width: 80%;
}

.mail-section {
  padding: 5%;
  align-self: center;
  justify-self: center;
  width: 80%;
  display: grid;
  grid-template-columns: 1fr;
}

.icon-and-text {
  display: grid;
  grid-template-columns: 0.3fr 1fr;
}

.contact-icon {
  margin: 2%;
  padding: 5%;
  align-self: center;
  justify-self: center;
  max-width: 30%;
}

.contact-input {
  margin-top: 2%;
  padding: 2%;
  color: black;
}

.message-input {
  margin-top: 2%;
  text-align: left;
  padding: 2%;
}


.send-button {
  background-color: $main_color;
  color: white;
  font-size: 1.2em;
  margin: 5% 2% 2% 2%;
  padding: 2%;
}

.spacer-bar {
  margin: 5%;
  min-height: 2px;
  box-shadow: $box_shadow;
}

.contact-bottom-spacer {
  min-height: 8vh;
}

// Projects Styling

.projects-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.spacer {
  min-height: 13vh;
}

.color-header {
  margin-bottom: 5%;
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  align-items: center;
  background-color: $accent_color;
  width: 100%;
  min-height: 12vh;
  color: white;
}

.color-header-title {
  font-size: 3em;
}

.card-and-overlay {
  position: relative;
}

.card-overlay-button {
  max-width: 15%;
  color: white;
  font-size: 1.2em;
  display: grid;
  grid-template-columns: 1fr;
  text-align: center;
  border: none;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.5s linear;
  justify-items: center;
  align-items: right;
  padding: 1%;
  position: absolute;
  bottom: 6.5%;
  right: 0%;
}

.card-and-overlay:hover {
  .card-overlay-button {
    visibility: visible;
    opacity: 1;
  }
}

.overlay-button-icon {
  max-width: 40%;
  opacity: 0.8;
}

